<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Document</title>
    <style>
        th,td{
        border: 1px black solid;
        }
    </style>
</head>
<body>
 <h1>Library Page</h1>
{% if books %}
 <h1>Show Data</h1>
 <h3>{{books}}</h3>
 <table>
     <tr>
        <th>Stu_ID</th>
         <th>Name</th>
     </tr>
     </tr>
 <tr>
     {% for co in courses %}
     <td>{{b.st_id}}</td>
     <td>{{b.name}}</td>
 </tr>
     {% endfor %}
</table>
{% else %}
 <h1>No Data</h1>
{% endif %}
</body>
</html>